
@model Logistic_2.ProductsItems
@{
    Layout = null;
    List<string> categories = new List<string> { "Electronics", "Equipment", "Stationery", "Dry and liquid goods", "Dangerous goods", "Packing materials", "Household and industrial appliances" };

}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="~/css/myCss.css" />
@using (Html.BeginForm("AddEditItem", "ProductsManagement", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.Id);


<div class="form-group">
    <label asp-for="NameOfItem" class="styleLabel">Name of item:</label>
    <input asp-for="NameOfItem" type="text" class="form-control" aria-describedby="inputGroup-sizing-default" />


</div>

    <div class="form-group">
        <label asp-for="DateOfProduction" class="styleLabel">Date of production:</label>
        <input asp-for="DateOfProduction" data-provide="datepicker" type="text" value="@ViewBag.DateProd">
    </div>

    <div class="form-group">
        <label asp-for="BestBefore" class="styleLabel">Best before:</label>
        <input asp-for="BestBefore" data-provide="datepicker" type="text" value="@ViewBag.BestBefore">
    </div>

    <div class="form-group">
        <label asp-for="Amount" class="styleLabel">Amount:</label>
        <input asp-for="Amount" type="number" class="form-control" aria-describedby="inputGroup-sizing-default" />

    </div>
    <div class="form-group">
        <label asp-for="TotalWeight" class="styleLabel">Total weight:</label>
        <input asp-for="TotalWeight" type="number" step="0.1" class="form-control" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="form-group">
        <label asp-for="Category" class="styleLabel">Category:</label>
        <select asp-for="Category" asp-items="new SelectList(categories)" class="custom-select">
            <option selected disabled>Choose...</option>
        </select>

    </div>
    <div class="form-group">
        <label asp-for="Container" class="styleLabel">Container: </label>
        <input asp-for="Container" type="text" class="form-control" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn" />
    </div>
}






